<div class="contact">
  <div class="pierson">
    {% if section.settings.title != blank %}
      <h1 class="h1">{{ section.settings.title }}</h1>
    {% endif %}
  </div>
  {% form 'contact' %}
    <div class="flex-1 mx-auto items-center justify-center max-w-4xl px-4">
      {% if form.errors %}
        <div class="border p-5">
          <div class="flex flex-row items-center w-full my-3">
            <div class="text-red-500">
              {% render 'icon-failed' %}
            </div>
            <div class="text-sm font-medium ml-3">Oh no! Your message is not sent</div>
          </div>
          <ul class="px-4 mb-3 ml-7 list-decimal">
            {% for error in form.errors %}
              <li>
                <span>{{ form.errors.messages[error] }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% elsif form.posted_successfully? %}
        <div class="flex flex-row items-center w-full my-3 p-5">
          <div class="text-green-500">
            {% render 'icon-success' %}
          </div>
          <div class="text-sm font-medium ml-3">Message was sent successfully</div>
        </div>
      {% endif %}

      <div class="gap-name-email px-1 md:flex mb-3">
        <div class=" md:w-1/2">
          {% comment %} <label for="contact_name" class="text-gray-700 font-medium uppercase text-xs mb-2">Name</label> {% endcomment %}
          <input
            data-aos="fade-up"
            type="text"
            name="contact[name]"
            id="contact_name"
            class="black-contact placeholder-contact-form w-full border py-3 px-4 mb-3 "
            placeholder="Name"
            required
          >
        </div>
        <div class="md:w-1/2">
          {% comment %} <label for="comment_email" class="text-gray-700 font-medium uppercase text-xs mb-2">Email</label> {% endcomment %}
          <input
            data-aos="fade-up"
            type="email"
            name="contact[email]"
            id="contact_email"
            class="black-contact placeholder-contact-form w-full border py-3 px-4 mb-3 focus:outline-none"
            placeholder="Email *"
            required
          >
        </div>
      </div>
      <div class="px-1 md:flex mb-3">
        <div class="message">
          {% comment %} <label for="contact_message" class="text-gray-700 font-medium uppercase text-xs mb-2">Comment</label> {% endcomment %}
          <textarea
            data-aos="fade-up"
            class="black-contact placeholder-contact-form w-full resize-none h-20 py-2 px-3 focus:outline-none border"
            name="contact[body]"
            id="contact_message"
            placeholder="Comment"
            required
          ></textarea>
        </div>
      </div>
      <div class="px-1 md:flex mb-3">
        <div class="btn-contact ">
          <input
            data-aos="fade-up"
            type="submit"
            class="btn-contact-text  w-full cursor-pointer px-4 py-2 border text-base font-medium text-white bg-gray-900 hover:bg-gray-500"
            value="Send"
          >
        </div>
      </div>
    </div>
  {% endform %}
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  .contact {
    width: 100%;
    margin: auto;
    margin-bottom: 140px;
  }
  .black-contact {
    color: black;
  }
  .placeholder-contact-form {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .message {
    width: 100%;
  }

  /* Base styles */
  .flex {
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }

  .items-center {
    align-items: center;
  }

  .my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .btn-contact {
    width: 11rem;
  }
  .text-3xl {
    font-size: 1.875rem;
  }

  .font-medium {
    font-weight: 500;
  }
  .gap-name-email {
    gap: 70px;
  }

  /* Responsive styles */
  @media (min-width: 768px) {
    .my-16 {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    .md\:w-1\/2 {
      width: 50%;
    }
  }

  /* Form styles */
  .uppercase {
    text-transform: uppercase;
  }

  .text-xs {
    font-size: 0.75rem;
  }

  .text-gray-500 {
    color: #6b7280;
  }

  .text-gray-700 {
    color: #4b5563;
  }

  .text-gray-900 {
    color: #1f2937;
  }

  .text-red-500 {
    color: #ef4444;
    width: 30px;
  }

  .box {
    padding: 6px;
    border: 1px solid black;
  }

  .text-sm {
    font-size: 0.875rem;
  }

  .text-green-500 {
    color: #10b981;
    width: 30px;
  }

  .border {
    border-width: 1px;
    border: 1px solid #c7c7c7;
  }
  .btn-contact-text {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .mb-3 {
    margin-bottom: 0.75rem;
  }

  .ml-7 {
    margin-left: 1.75rem;
  }

  .w-full {
    width: 100%;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  /* Background and hover styles */
  .bg-gray-900 {
    background-color: #111827;
  }

  .bg-gray-700 {
    background-color: #4b5563;
  }

  .hover\:bg-gray-700:hover {
    background-color: #4b5563;
  }

  /* Button styles */
  .border-gray-900 {
    border-color: #111827;
  }

  .bg-gray-900 {
    background-color: #111827;
  }

  .text-base {
    font-size: 1rem;
  }

  .font-medium {
    font-weight: 500;
  }

  .text-white {
    color: #ffffff;
  }

  .hover\:bg-gray-700:hover {
    background-color: #4b5563;
  }

  /* Form input styles */
  .input {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    margin-bottom: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #374151;
    background-color: #f3f4f6;
  }

  /* Other styles */
  .hidden {
    display: none;
  }

  /* Icon styles (You may need to adjust these based on your actual icon styles) */
  .icon-failed {
    width: 30px;
    color: red;
  }
  .icon-success {
    width: 30px;
    color: green;
  }

  .icon-dropdown,
  .icon-bag {
    /* Add your icon styles here */
  }

  /* Responsive styles */
  @media (max-width: 768px) {
    /* Add your responsive styles here */
  }

  .h1 {
    font-size: 50px;
    color: black;
    margin-left: 20px;
    text-align: center;
  }
</style>

<script>
    {% if request.design_mode %}
      document.addEventListener("shopify:section:load", function(event) {
            AOS.init();
      });
  {% endif %}
  AOS.init();
</script>

{% schema %}
{
  "name": "Contact Form",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Contact Form"
    }
  ]
}
{% endschema %}
