<h1 class="text">{{ page.title }}</h1>
<div class="text1">{{ page.content }}</div>

<style>
  .text {
    font-size: 50px;
    color: black;
    margin-left: 20px;
    text-align: center;
  }
  .text1 {
    font-size: 20px;
    color: black;
    text-align: center;
    width: 70%;
    margin: auto;
  }
</style>
